@import url(https://fonts.googleapis.com/css?family=Butcherman|Creepster|Hanalei|Julee|Shojumaru);

.App {
  text-align: center;
}

.App-header {
  font-family: 'Julee', cursive;
	font-size: 55px;
	text-align: center;
	color: gold;
	line-height: 100px;
  height: auto;
  margin-top: 3%;
}

span {
  font-family: 'Butcherman', cursive;
	font-size: 90px;
	color: lime;
	margin-top: 0px;
	padding-top: 0px;
}

h1 {
  margin-top: 20px;
}

h6 {
  font-style: italic;
	color: purple;
  margin: -100px 0 0 0;
}

.mAction {
	width: auto;
	height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10% 0 8%;
}

#monster1, #monster3, #monster4 {
	height: 175px;
	width: auto;
}

#monster2 {
  height: 125px;
  padding-right: 3%;
}

#monster3 {
  padding-right: 5%;
}

.cookies {
  height: auto;
  width: auto;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

#cookie1 {
	height: 100px;
	width: auto;
	/* margin-left: 110px; */
}

#cookie2 {
	height: 100px;
	width: auto;
	/* margin-left: 205px; */
}

#cookie3{
	height: 100px;
	width: auto;
	/* margin-left: 285px; */
}

#cookie4 {
	height: 100px;
	width: auto;
	/* margin-left: 345px; */
}


